# **1 Importing Libraries**

In the following cells only the required libraries have been imported

In [8]:
import pandas as pd

# **2 Exploring the Data**

In the following cells the data has been explored and renamed for further processing

## 2.1 Loading and preparing the data

The given dataset has in total 4 columns and 96 rows. The data contains information about the `Country`, the `Year` in which the data was collectd, the *Life expectancy at birth (year)* which has later been renamed to `Life_Expectancy` for ease of use, and it's `GDP` in that specific year.

In [14]:
data = pd.read_csv('all_data.csv')
data = data.rename(columns={'Life expectancy at birth (years)':'Life_Expectancy'})
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          96 non-null     object
 1   Year             96 non-null     int64
 2   Life_Expectancy  96 non-null     float64
 3   GDP              96 non-null     float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.1+ KB

In [15]:
data.head()

  Country  Year  Life_Expectancy           GDP
0   Chile  2000             77.3  7.786093e+10
1   Chile  2001             77.3  7.097992e+10
2   Chile  2002             77.8  6.973681e+10
3   Chile  2003             77.9  7.564346e+10
4   Chile  2004             78.0  9.921039e+10

## 2.2 Exploring the data

The given datase has information spanning 16 years from 2000 to 2015 about six countries, namely:

1. Chile
2. China
3. Germany
4. Mexico
5. USA
6. Zimbabwe

The following table contains summarized information about the six countries

<center>

|<center>Country</center>|<center>Total GDP<br>(Billion USD)</center>|<center>Average Life Expectancy<br>(Years)</center>|
|---|---|---|
|Chile|<center>2,716.63</center>|<center>78.95</center>|
|China|<center>79,323.42</center>|<center>74.26</center>|
|Germany|<center>49,516.41</center>|<center>79.66</center>|
|Mexico|<center>15,626.41</center>|<center>75.72</center>|
|USA|<center>2,25,200.00</center>|<center>78.06</center>|
|Zimbabwe|<center>145.00</center>|<center>50.09</center>|

</center>

***N.B**: Total GDP was calculated ignoring time value of money*

In [23]:
data['Year'].unique()

array([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
       2011, 2012, 2013, 2014, 2015])

In [16]:
data['Country'].unique()

array(['Chile', 'China', 'Germany', 'Mexico', 'United States of America',
       'Zimbabwe'], dtype=object)

In [24]:
data.groupby('Country')['GDP'].sum()/10**9

Country
Chile                         2716.621520
China                        79323.420000
Germany                      49516.410000
Mexico                       15626.410000
United States of America    225200.000000
Zimbabwe                       145.001274
Name: GDP, dtype: float64

In [25]:
data.groupby('Country')['Life_Expectancy'].mean()

Country
Chile                       78.94375
China                       74.26250
Germany                     79.65625
Mexico                      75.71875
United States of America    78.06250
Zimbabwe                    50.09375
Name: Life_Expectancy, dtype: float64